
.columnContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.aboutCol {
    flex: 1 1 40%;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
    // display: inline-block;
}

.square {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    float: left;
    font-weight: bold;
      
    // // /* Change the shape according
    //     to the image */
    // shape-outside: circle();
    // background-color: Green;
    // color: white;
}

.recentPostsCol {
    flex: 1;
}

.contactDetailsContainer {
    flex: 0 0 30%;
    margin-bottom: 1rem;
    padding: 1rem;
    @apply bg-gray-700 rounded-md;
}

.heroContainer {
    height: 30rem;
    padding: 2.2rem;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/1834404/pexels-photo-1834404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    display: flex;
    gap: 2rem;
}

.heroLeftCol {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroRightCol {
    flex: 1 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
